:root{
    --verde:#00A149;
    --blanco:#fff;
    --rojo:#ff0008;
    --gray:#818181;
    --black:#000;
    --title:Arial;
    --colorshadow:rgba(73, 121, 255, 0.418);
    --parrafos:sans-serif;
    --colorcircle:#00d9ff;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body{
    background-color: var(--blanco);
}
nav{
    background-color:var(--blanco);
    display: grid;
    height: 70px;
    grid-template-columns: 1fr 2fr ;
    box-shadow: 1px 3px 20px var(--colorshadow);
}
header{
    margin-top: 1%;
    display: flex;
    background-color: #00383a;
}
.Container_header_one{
    width: 45%;
    padding: 7% 5%;
}
.Container_header_two{
    background-color: black;
    width: 55%;
}
.img_portada{
    width: 100%;
}
ul{
    display: flex;
    width: 100%;
    gap: 25px;
    align-items: center;
    justify-content: right;
}
ul a{
    color: var(--black);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.txt_title{
    color: white;
    padding: 4% 0%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 50px;
}
.container_one{
    display: flex;
    padding: 0% 0% 0% 5%;
}
.container_two{
    display: flex;
    padding: 0% 5% 0% 0%;
}
.link_home{
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
}
#check, .checkbtn{
    display: none;
}
.nav_menu .submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    z-index: 1;
    margin-left: -40px;
    border-radius: 5px;
    padding-top: 20px;
    margin-top: 0px;
  }
  
  .nav_menu li:hover .submenu {
    display: block;
  }
  .submenuitem:hover{
    background-color: rgba(1, 33, 82, 0.062);
  }
  .submenu a {
    text-align: left;
    padding: 8px 16px;
    display: block;
  }
.btn_empezar{
    padding: 8px 40px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
.btn_empezar:hover{
    background-color: black;
    color: white;
}

